ul {
    padding-right: 2rem;
    /*    抵銷reboot.scss預設的padding-left: 2rem;*/
}

.texthigh_lv1 {
    font-weight: 800;
    font-size: 1.05rem;
}

.textlow_lv1 {
    font-size: .9rem;
}

.textlow_lv2 {
    font-size: .8rem;
}

.pre_selection_hint {
    font-weight: 800;
    font-size: .95rem;
}

.rwd-table {
    /*width: fit-content; div寬度根據內容自適應*/
    width: auto;
    display: inline-block;
    /*    border-bottom: 3px solid var(--main-color);*/
    margin: 0;
}

.rwd-table ol {
    word-wrap: break-word;
    padding-right: 1.8em;
    text-align: justify;
    /* 文字左右對齊　*/
    text-justify: auto;
    /*　IE再加上此行　*/
}

/*table header CSS*/
.rwd-table .thead .tr li h3 {
    font-weight: 800;
    font-size: 1.2rem;
    text-align: center;
    /*    border-bottom: 1px solid black;*/
}

.tbody {
    display: table-row-group;
}

.thead {
    display: table-header-group;
}

.thead li,
.tr li {
    display: table-cell;
    padding: 15px;
    border-bottom: 2px solid #FFF;
}

.thead li {
    padding-bottom: 0px;
    /*    border-bottom: 4px solid var(--main-color);*/
}

.tr {
    display: table-row;
}

.tr li {
    width: auto;
    vertical-align: middle;
}

.tbody .tr li {
    background-color: var(--secondary-color-2);
}

.tbody .tr li:hover {
    background-color: #FFFCCC;
}

.tbody .tr li:first-child {
    background-color: #078E8E;
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    width: 7em;
}



@media screen and (max-width: 768px) {
    .rwd-table {
        /*        width: 95vw;*/
        display: block;
        border-collapse: collapse;
        border-bottom: none;
    }

    .thead {
        display: none;
    }

    .tr {
        display: block;
        border: 2px dotted var(--main-color);
        margin-bottom: 5px;
    }

    .tr li {
        display: inline-block;
        width: 100%;
        border: none;
        padding: .2rem;
        border-bottom: 2px dotted var(--main-color);
    }

    .tr li:last-child {
        border-bottom: none;
    }

    .tbody .tr li,
    .tbody .tr li:first-child {
        background-color: transparent;
        text-align: left;
        /*        原本有設定文字置中，現在要靠左*/
    }

    .tbody .tr li:first-child {
        width: auto;
        font-size: 1.2rem;
        color: #fff;
        border: 1px solid var(--bgd-color);
        background-color: #078e8e;
        border-radius: var(--border-radius-unit) var(--border-radius-unit) var(--border-radius-unit) var(--border-radius-unit);
        /*        原本有設定7em的寬度讓此欄顯示5個字*/
        padding: 0.5rem 1rem;
    }

    .tr li:first-child {
        color: var(--main-color);
        padding-bottom: 0;
        border-bottom: 2px solid var(--main-color);
        margin-top: 0.2rem;
    }

    /*時間、說明*/
    .tr li:before {
        content: attr(data-title);
        display: block;
        width: auto;
        /*        min-width: 20vw;*/
        font-weight: 900;
        font-size: 1.1rem;
    }

    /*    .tr li:before {
        width: 2em;
        border-bottom: 1px solid black;
    }

    .tr li:first-child:before {
        border-bottom: none;
    }


    .tr li:last-child {
        border-bottom: none;
    }*/



    .rwd-table ol {
        text-align: left;
    }

    .rwd-table ol:nth-child(even) {
        background-color: var(--secondary-color-2);
    }

    /*----------------------RWD表格End---------------------------*/
}