:root {
    --main-color: #53DBDB;
    /*W主色#53DBDB*/
    --text-color: #595959;
    /*一般文字的色*/
    --bgd-color: #F5F5F5;
    /*背景底色 灰色*/
    --accent-color: #475F77;
    /*{色，闹魃中跳出的配色*/
    --hint-color: #FF864F;
    /*亮c色，使用在要{的文字或按o*/

    --darker-color: #4B717F;
    /*主色的深色化#487D7D*/

    /*    --secondary-color: #C4F3F2;*/
    --secondary-color: #C4F3F2;
    /*o色，主色的淡化*/
    --secondary-color-2: #E1F9F8;
    /*o色，主色的更淡化*/

    --swiper-theme-color: #53DBDB;
    /*套件swiper的色*/

    --border-style: 2px solid var(--bs-gray-400);
    --border-radius-unit: 10px;
    --border-radius-unit-20: 20px;
}

/*初始化*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'lato', sans-serif;
}

ul {
    padding-left: 0 !important;
}

br.responsive {
    display: inline;
}

@media screen and (max-width: 768px) {
    br.responsive {
        display: none;
    }
}

.container {
    margin-top: 10px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.tabbackground {
    border: var(--border-style);
    border-top: none;
    background-color: azure;
    border-radius: 0 0 var(--border-radius-unit) var(--border-radius-unit);
    padding: 0 2rem;
}

.tabgroup {
    display: flex;
}

.tablink {
    font-size: 1.6rem;
    font-weight: 600;
    flex-basis: 100%;
    text-align: center;
    border: var(--border-style);
    border-right: none;
    background-color: azure;
    border-radius: var(--border-radius-unit) var(--border-radius-unit) 0 0;
    padding: 15px 0;
}

.tablink:last-child {
    border-right: var(--border-style);
}

.tablink:hover {
    background-color: #e4eaed;
}

.title {
    font-size: 26px;
    font-weight: 600;
    padding: 1.5rem 0;
    text-align: center;
    letter-spacing: 0.1rem;
}

.function_name {
    background-color: #2E74B5;
    color: white;
    padding: 0.1rem;
}

/**--------*/
.menu a:hover {
    color: var(--hint-color);
}

.menu a:after {
    padding-left: 20px;
    content: '|';
    color: var(--main-color);
}

.menu a:last-child:after {
    content: '';
}


/*.outlink {
    display: flex;
    justify-content: space-around;
    padding: .5rem 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}
*/

.outlink {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    gap: .3rem;
    padding: .5rem 0;
}

.outlink>button {
    display: flex;
    text-align: center;
    width: 11rem;
    text-decoration: none;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: bold;
}

.outlink>button>span {
    width: 100%;
}

.outlink a:after {
    content: '|';
    padding-left: 1rem;
    padding-right: 1rem;
}

.outlink a:first-child {
    content: '';
}

.linkitem {}

.funtion_name {
    background-color: #2E74B5;
    color: white;
    padding: 0.1rem;
}


.main {
    display: flex;
}

.menu {
    flex-basis: 20%;
}

.content {
    flex-basis: 80%;
}

.dropdowns {
    height: 100px;
    border-bottom: 1px solid var(--main-color);
}

.dropdowns .logo {
    font-size: .6rem;
    top: 0rem;
}

.navFixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.panel {
    display: none;
}

.flip {
    padding-top: 1rem;
}