:root {
    --main-color: #53DBDB;
    /*W主色#53DBDB*/
    --text-color: #595959;
    /*一般文字的色*/
    --bgd-color: #F5F5F5;
    /*背景底色 灰色*/
    --accent-color: #475F77;
    /*{色，闹魃中跳出的配色*/
    --hint-color: #FF864F;
    /*亮c色，使用在要{的文字或按o*/

    --darker-color: #4B717F;
    /*主色的深色化#487D7D*/

    /*    --secondary-color: #C4F3F2;*/
    --secondary-color: #e3fbfb;
    /*o色，主色的淡化*/
    --secondary-color-2: #E1F9F8;
    /*o色，主色的更淡化*/

    --swiper-theme-color: #53DBDB;
    /*套件swiper的色*/

    --mainbg: #FAFFFF;

    --border-style: 2px solid var(--bs-gray-400);
    --border-radius-unit: 10px;
    --border-radius-unit-20: 20px;


    --menubtn-text-before: #FF8000;
    --menubtn-text-hover: white;
    --menubtn-bg-before: #FFFCCC;
    --menubtn-bg-hover: #FF8000;
    --menubg-color: #F0FFFF;

    /*--btn-text-before: #A25E5E;
    --btn-text-hover: white;
    --btn-bg-before: #C4F3F2;
    --btn-bg-hover: #078E8E;*/

    --btn-text-before: #A25E5E;
    --btn-text-hover: white;
    --btn-bg-before: #D9F7F7;
    --btn-bg-hover: #336666;



}

.text_hl1 {
    background-color: #FFFF00
}

.text_hl2 {
    color: #2b5737;
    background-color: #c0ebcc;
}


/*初始化*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'lato', sans-serif;
    background-color: #FDFFFF;
}

ul {
    padding-left: 0 !important;
}

br.responsive {
    display: inline;
}

.container {
    margin-top: 10px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2rem;
}

.rwd-table_outer {
    text-align: center;
}

.tabbackground {
    border: var(--border-style);
    border-top: none;
    background-color: var(--mainbg);
    border-radius: 0 0 var(--border-radius-unit) var(--border-radius-unit);
    padding: 0 2rem 1rem 2rem;
}

.tabgroup {
    display: flex;

}

.tablink {
    font-size: 2rem;
    font-weight: 600;
    flex-basis: 100%;
    text-align: center;
    border: var(--border-style);
    border-right: none;
    background-color: var(--mainbg);
    border-radius: var(--border-radius-unit) var(--border-radius-unit) 0 0;
    padding: 15px 0;
    color: black;
}

.tablink:last-child {
    border-right: var(--border-style);
}

.tablink:hover {
    background-color: #e4eaed;
}

.title {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 4rem 0 1rem 0;
    text-align: center;
    letter-spacing: 0.1rem;
}

.first_title {
    padding: 1rem 0 1rem 0;
}

.hr1 {
    border: 1px solid black;
    border-radius: 200px;
    width: 50%;
    margin: 0rem auto .5rem auto;
}

.news {
    line-height: 1.7rem;
    text-align: justify;
    word-break: break-all;
    /*text-indent: -1.2em;
    padding: 0em 0em 0em 2em;*/
}

p {
    /*    font-size: 20px;*/
    text-indent: -1.2em;
    padding: 0em 1.2em 0em 2em;
    margin-bottom: 0rem;
}

.function_name {
    background-color: #2E74B5;
    color: white;
    padding: 0.1rem;
}

/**--------*/
.menu a:hover {
    color: var(--hint-color);
}

.menu a:after {
    padding-left: 20px;
    content: '|';
    color: var(--main-color);
}

.menu a:last-child:after {
    content: '';
}

.outlink {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    gap: .3rem .2rem;
    padding: .2rem 0;
    justify-items: center;
    background-color: rgba(255, 255, 255, 0.7);
}

.outlink>button {
    display: flex;
    text-align: center;
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: bold;
}

.outlink>button>span {
    width: 100%;
}

.outlink a:after {
    content: '|';
    padding-left: 1rem;
    padding-right: 1rem;
}

.outlink a:first-child {
    content: '';
}

.linkitem {}

.funtion_name {
    background-color: #2E74B5;
    color: white;
    padding: 0.1rem;
}


.main {
    display: flex;
}

.menu {
    flex-basis: 20%;
}

.content {
    flex-basis: 80%;
}

.dropdowns {
    height: 100px;
    border-bottom: 1px solid var(--main-color);
}

.dropdowns .logo {
    font-size: .6rem;
    top: 0rem;
}


.panel {
    display: none;
    position: sticky;
    /*    background-color: var(--mainbg);*/
    top: 3.75rem;
    z-index: 2;
    margin: 0 -2rem;
}

.flip {
    position: sticky;
    width: calc(100%+2rem);
    top: 0;
    background-color: var(--mainbg);
    z-index: 3;
    margin-left: -2rem;
    margin-right: -2rem;
    padding: .5rem .5rem .5rem 2rem;
    text-align: right;
    /*    background-color: rgba(255, 255, 255, 0.7);*/
    /*    border: 1px solid black;*/
}

.flip button {
    margin-right: .3rem;
}

.flip button:last-child {
    margin-right: 0rem;
}

@media screen and (max-width: 768px) {
    br.responsive {
        display: none;
    }

    .tablink {
        font-size: 1.5rem;
    }

    .outlink {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 2fr));
    }

    .outlink>button {
        display: flex;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        font-weight: bold;
    }

    .flip {
        padding: .5rem 0rem .5rem 0rem;
    }


}