:root {
    --main-color: #53DBDB;
    /*網頁主色#53DBDB*/
    --text-color: #595959;
    /*一般文字的顏色*/
    --bgd-color: #F5F5F5;
    /*背景底色 灰色*/
    --accent-color: #475F77;
    /*強調色，從主色中跳出的配色*/
    --hint-color: #FF864F;
    /*亮點色，使用在要強調的文字或按鈕*/

    --darker-color: #4B717F;
    /*主色的深色化#487D7D*/

    --secondary-color: #C4F3F2;
    /*輔色，主色的淡化*/
    --secondary-color-2: #E1F9F8;
    /*輔色，主色的更淡化*/

    --swiper-theme-color: #53DBDB;
    /*套件swiper的顏色*/

    --border-style: 2px solid var(--bs-gray-400);
    --border-radius-unit: 10px;
}

/*初始化*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'lato', sans-serif;
}

.container {
    margin-top: 10px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.tabbackground {
    border: var(--border-style);
    border-top: none;
    background-color: azure;
    border-radius: 0 0 var(--border-radius-unit) var(--border-radius-unit);
}

.tabgroup {
    display: flex;
}

.tablink {
    font-size: 28px;
    flex-basis: 100%;
    text-align: center;
    border: var(--border-style);
    border-right: none;
    background-color: azure;
    border-radius: var(--border-radius-unit) var(--border-radius-unit) 0 0;
    padding: 15px 0;
}

.tablink:last-child {
    border-right: var(--border-style);
}

.tablink:hover {
    background-color: #e4eaed;
}

.table_title {
    font-size: 26px;
    font-weight: 600;
    padding-top: 20px;
    text-align: center;
}

.function_name {
    background-color: #2E74B5;
    color: white;
    padding: 0.1rem;
}